<div class="container-fluid">
    <div class="row">
        <h1>Products</h1>
    </div>
    <div class="row">
        <button class="btn btn-primary newprd" (click)="addPrd()"><i class="fa fa-plus" aria-hidden="true"></i> Add New Product</button>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header row">
                <div class="col-md-8 ">
                    List of products
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-2"> Filter:</div>
                        <div class="input-group col-md-10">
                            <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input id="msg" type="text" class="form-control" name="msg" ng-model="search" placeholder="Filter product list...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Packing</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prd of prds; let i = index">
                            <!--ADD FILTER SEARCH -->
                            <td>{{i+1}}</td>
                            <td>{{prd.id}}</td>
                            <td>{{prd.Name}}</td>
                            <td>{{prd.Price}}</td>
                            <td> <span (click)="stockEdit(prd) " [hidden]="activeItem==prd">{{prd.Stock}}</span><input [(ngModel)]="prd.Stock" [hidden]="activeItem!==prd" size="6">

                                <span [hidden]="activeItem!==prd">
                                    <span class="pointerstyle" (click)="updateStock(prd) ">update</span>
                                <span>  | </span>
                                <span class="pointerstyle" (click)="stockHide() "> cancel</span>
                                </span>
                            </td>
                            <td>{{prd.Packing}}</td>
                            <td>{{prd.Description}}</td>
                            <td><button [className]="statusCls(prd.Status)" (click)="statusEdit(prd)">{{statusShow(prd.Status)}}</button></td>
                            <td><button class="btn btn-secondary" (click)="editPrd(prd) "><i class="fa fa-pencil-square-o " aria-hidden="true "></i></button>
                                <button class="btn btn-secondary" (click)="delPrd(prd) "><i class="fa fa-trash " aria-hidden="true "></i></button></td>
                        </tr>
                    </tbody>

                </table>

                <hr>
            </div>
        </div>
    </div>
</div>